body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.container{
    display: flex;
    box-shadow: 0 3px 10px black;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5% 25%;
    padding: 40px 40px 40px 40px;
    background-color: white;
    
}
#dog-image{
    max-width: 300px;
    max-width: 200px;
    border-radius: 10px;
    
    position: relative;
}
.info{
    display: block;
}